.header {
  &[data-variant="azalio-ui"] {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
  }
}

.navbar {
  &[data-variant="azalio-ui"] {
    background-color: #17345e;
    color: hsl(var(--accent-foreground));
    border: 0;
  }
}
