.root {
  &[data-size="xs"] {
    height: 36px;
  }

  &[data-variant="azalio-ui"] {
    height: 40px;

    font-weight: 600;
    --button-bg: hsl(var(--primary));
    --button-color: hsl(var(--primary-foreground));
    --button-hover: hsl(var(--primary) / 0.9);
  }

  &[data-variant="azalio-ui-dark"] {
    height: 40px;

    font-weight: 600;
    --button-bg: hsl(var(--accent));
    --button-color: hsl(var(--accent-foreground));
    &:hover {
      background-color: hsl(var(--accent) / 0.8);
    }
  }

  &[data-variant="azalio-ui-light"] {
    height: 40px;

    font-weight: 600;
    --button-bg: hsl(var(--primary) / 0.1);
    --button-color: hsl(var(--primary));
    &:hover {
      background-color: hsl(var(--primary) / 0.2);
    }
  }

  &[data-variant="azalio-ui-secondary"] {
    height: 40px;

    font-weight: 600;
    --button-bg: hsl(var(--secondary));
    --button-color: hsl(var(--secondary-foreground));
    &:hover {
      background-color: hsl(var(--foreground) / 0.1);
    }
  }

  &[data-variant="azalio-ui-destructive"] {
    height: 40px;

    font-weight: 600;
    --button-bg: hsl(var(--destructive));
    --button-color: hsl(var(--destructive-foreground));
    &:hover {
      background-color: hsl(var(--destructive) / 0.9);
    }
  }

  &[data-variant="azalio-ui-outline"] {
    height: 40px;

    font-weight: 600;
    color: hsl(var(--foreground));
    --button-bg: white;
    --button-bd: calc(0.0625rem * var(--mantine-scale)) solid hsl(var(--border));
    &:hover {
      background-color: rgba(255, 255, 255, 0.653);
    }
  }

  &[data-variant="azalio-ui-ghost"] {
    height: 40px;

    font-weight: 600;
    color: hsl(var(--foreground));
    --button-bg: hsl(var(--background));
    --button-hover: hsl(var(--secondary));
  }
}
