.input {
  &[data-variant="azalio-ui"] {
    border: 1px solid;
    border-color: hsl(var(--input));
    background: transparent;
    min-height: 40px;
    &:focus {
      border-color: hsl(var(--primary));
    }
    &::placeholder {
      color: hsl(var(--foreground) / 0.5);
    }
  }
}
