.input {
  &[data-variant="azalio-ui"] {
    box-shadow: var(--mantine-shadow-xs);
    &:focus-within {
      border-color: hsl(var(--primary));
    }
    border-color: hsl(var(--input));
    /* background: hsl(var(--background)); */
    input {
      &::placeholder {
        color: hsl(var(--foreground) / 0.5);
      }
    }
  }
}

.section {
  --mantine-color-placeholder: hsl(var(--muted-foreground));
}
