.tab {
  --tabs-color: hsl(var(--primary));
  /* --_tab-hover-color: hsl(var(--secondary)); */
  --_tab-hover-color: white;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  font-weight: 500;
  &[data-active="true"] {
    color: hsl(var(--primary));
  }

  &[data-variant="pills"] {
    &[data-active="true"] {
      color: hsl(var(--primary-foreground));
    }
    border: 1px solid hsl(var(--border));
    border-radius: var(--mantine-radius-md);
  }
}

.list {
  --_tab-border-color: hsl(var(--secondary));
}
