.root {
  padding-left: 0;
  font-size: var(--mantine-font-size-sm);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  & h3 {
    font-size: 20px;
  }

  strong {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: background-size 0.5s;
    background-image: linear-gradient(
      to top,
      rgba(234, 221, 6, 0.3) 100%,
      transparent 0
    );
    color: rgba(111, 99, 0, 1);
  }
}
